{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}{%endblock%}
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<body>
  <aside>
    <img src="{% static 'main/img/logo1.svg' %}" alt="">
    <span class="logo">Bibas</span>
    <h3>Навигация</h3>
    <ul>
      <a href="{% url 'home'%}"><li><i class="fas fa-home"></i>  Главная</li></a>
      <a href="{% url 'item'%}"><li><i class="fas fa-car"></i>  Авто</li></a>
    </ul>
  </aside>
  <main>
    {% block item_page %}{% endblock item_page %}
    {% block home_page %}{% endblock home_page %}
  </main>
</body>
</html>